{% assign slug_key = page.slug | slugify %}
{% assign slug_comments_hash = site.data.comments[slug_key] %}
{% if slug_comments_hash and slug_comments_hash.size > 0 %}
  {% assign comments_array = "" | split: "" %}
  {% for item in slug_comments_hash %}
    {% assign comments_array = comments_array | push: item[1] %}
  {% endfor %}
  {% assign comments = comments_array | sort: 'date' %}
{% else %}
  {% assign comments = "" | split: "" %}
{% endif %}

<div id="comments" class="px-lg-2">
  <h3 class="font-weight-bold">{{ comments.size }} Comentarios</h3>

  {% if comments.size > 0 %}
  <div class="comment-list">
    {% for comment in comments %}
    <div class="comment" id="comment-{{ comment._id }}">
      <div class="comment-avatar">
        {% if comment.email %}
        <img src="https://www.gravatar.com/avatar/{{ comment.email }}?s=80&d=identicon" alt="{{ comment.name }} avatar">
        {% else %}
        <img src="https://www.gravatar.com/avatar/?s=80&d=identicon" alt="Default avatar">
        {% endif %}
      </div>
      <div class="comment-content">
        <div class="comment-header">
          <span class="comment-author font-weight-bold">{{ comment.name }}</span>
          <span class="comment-date text-muted">
            {{ comment.date | date: "%-d de %B de %Y a las %H:%M" }}
          </span>
        </div>
        <div class="comment-body">
          {{ comment.message | markdownify | strip_html }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p>Todavía no hay comentarios. ¡Sé el primero en comentar!</p>
  {% endif %}
</div>
