---
layout: default
refactor: true
---

{% include lang.html %}

<!--  INICIO DEL CÓDIGO para poner el sello de Recomiendo -->
{% assign recomendados = paginator.posts | where_exp: "item", "item.sello == true" %}
{% if recomendados.size > 0 %}
  <style>
    .recomiendo-sello {
      position: relative;
    }
      .recomiendo-sello::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 5px;
        right: -5px;
        width: 150px;
        height: 98px;
        transform: rotate(-15deg);
        background-image: url('{{ '/assets/img/recomiendo.png' | relative_url }}');
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 10;
      }
  </style>
{% endif %}

<!--  FIN DEL CÓDIGO Recomiendo -->

<div id="post-list" class="flex-grow-1 px-xl-1">
  {% for post in paginator.posts %}
  <article class="card-wrapper card">
    <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
      {% assign card_body_col = '12' %}

      {% if post.thumbnail %}
      {% assign alt = post.thumbnail.alt | xml_escape | default: 'Preview Image' %}
      {% assign lqip = null %}
      {% if post.thumbnail.lqip %}
      {% capture lqip %}lqip="{{ post.thumbnail.lqip }}"{% endcapture %}
      {% endif %}

      <div class="col-md-5 {% if post.sello %}recomiendo-sello{% endif %}">
        <img src="{{ post.thumbnail | relative_url }}" alt="{{ alt }}" {{ lqip }}>
      </div>

      {% assign card_body_col = '7' %}
      {% endif %}

      <div class="col-md-{{ card_body_col }}">
        <div class="card-body d-flex flex-column">
          <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>

          <div class="card-text content mt-0 mb-3">
            <p>
              {{ post.content | markdownify | strip_html | truncate: 200 | escape }}
            </p>
          </div>

          <div class="post-meta flex-grow-1 d-flex align-items-end">
            <div class="me-auto">
              <!-- posted date -->
              <i class="far fa-calendar fa-fw me-1"></i>
              {% include datetime.html date=post.date lang=lang %}

              <!-- categories -->
              {% if post.categories.size > 0 %}
              <i class="far fa-folder-open fa-fw me-1"></i>
              <span class="categories">
                {% for category in post.categories %}
                {{ category }}
                {%- unless forloop.last -%},{%- endunless -%}
                {% endfor %}
              </span>
              {% endif %}
            </div>

            {% if post.pin %}
            <div class="pin ms-1">
              <i class="fas fa-thumbtack fa-fw"></i>
              <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
            </div>
            {% endif %}
          </div>
          <!-- .post-meta -->
        </div>
        <!-- .card-body -->
      </div>
    </a>
  </article>
  {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
  {% include post-paginator.html %}
{% endif %}
